{# src/BO/UserBundle/Resources/views/Security/login.html.twig #}

{#% extends "BOCoreBundle::layout.html.twig" %#}
{% extends "::layout.html.twig" %}

{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

    
    <!--****************************************-->
            <div id="page-wrapper" class="sign-in-wrapper">
                
                
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Connexion</h1>
						</div>
						<div class="signin">
							<div class="signin-rit">
								<span class="checkbox1">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Mot de passe oubliée?</label>
								</span>
								<p><a href="#">Cliquer ici</a> </p>
								<div class="clearfix"> </div>
							</div>
							<form action="{{ path("fos_user_security_check") }}" method="post">
                                                            <!--input type="hidden" name="_csrf_token" value="{#{ csrf_token }#}" /-->
                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
							<div class="log-input">
								<div class="log-input-left">
								   <!-- /-->
								   <input type="text"  class="user"  id="username" name="_username" value="{{ last_username }}" onfocus="this.value = '';" onblur="if (this.value === '') {this.value = 'Your Email';}"/>
                                                                </div>
								<span class="checkbox2">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
								</span>
								<div class="clearfix"> </div>
							</div>
							<div class="log-input">
								<div class="log-input-left">
                                                                    <input type="password" class="lock" id="password" name="_password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
								</div>
								<span class="checkbox2">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
								</span>
								<div class="clearfix"> </div>
							</div>
                                                                   <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
						    </form>	 
						</div>
						<div class="new_people">
							<h2>Pour les nouveaux annonceurs</h2>
							<p>Pour échanger, vendre ou acheter des débarrs, inscrivez vous sur notre site.</p>
							<a href="{{ path('fos_user_registration_register') }}">Enregistrer</a>
						</div>
					</div>
				</div>
			</div>
    <!--****************************************-->
  </form>

{% endblock %}