    <div class="post-ad-form">
            {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_label(form.category, 'Catégorie') }}
                    {{ form_widget(form.category) }}
                    <div class="clearfix"></div>
                    {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'phone'}}) }}
                    {{ form_widget( form.title, { 'attr' : {'class' : 'phone'}} ) }}
                    <div class="clearfix"></div>
                    {{ form_label(form.content, 'Description', {'label_attr': {'class': 'phone'}}) }}
                    {{ form_widget( form.content, { 'attr' : {'class' : 'mess'}} ) }}
                    <div class="clearfix"></div>
                    {{ form_label(form.price, 'Prix', {'label_attr': {'class': 'phone'}}) }}
                    {{ form_widget( form.price, { 'attr' : {'class' : 'phone'}} ) }}
                    <div class="clearfix"></div>
                    {{ form_label(form.brand, 'Marque', {'label_attr': {'class': 'name'}}) }}
                    {{ form_widget( form.brand, { 'attr' : {'class' : 'name', 'placeholder':'Marque(s)'}} ) }}
                    <div class="clearfix"></div>
                    {{ form_label(form.state, 'Etat', {'label_attr': {'class': 'name'}}) }}
                    {{ form_widget( form.state ) }}
                    <div class="clearfix"></div>
                    <label for="checkbox" class="col-sm-2 control-label">Publier l'annonce</label>             
                        {{ form_widget( form.published, { 'attr' : {'class' : 'checkbox-inline'}} ) }}
                    <div class="col-sm-4 jlkdfj1">
                            <p class="help-block">Décocher pour sauvegarder</p>
                    </div>
                    <div class="clearfix"></div>
                    <!------------------------->
                    <div class="upload-ad-photos">
                            {{ form_label(form.advertimage, 'Ajouter une image', {'label_attr': {'class': ''} }) }}
                            {{ form_widget(form.advertimage) }}
                    </div>
                    <!------------------------->
                    <div class="form-group">
                            <label for="checkbox" class="col-sm-2 control-label">Afficher numéro</label>
                            <div class="col-sm-8">
                                    <div class="checkbox-inline">{{ form_widget( form.showphone ) }}</div>
                            </div>
                    </div>
                    <!------------------------->
                    <div class="personal-details">
                        <div class="clearfix"></div>
                        {{ form_widget( form.submit, { 'attr' : {'value' : 'Publier'}} ) }}
                    <div class="clearfix"></div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    
    </div>