{% extends "BOOccasionBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} 
    Accueil
{% endblock %}

{% block header %}
    {{ parent() }}

    
{% endblock %}


{% block bodyoccasion %}


    <div class="content">
        
        
        <div class="categories">
                    <div class="container">
                            
                            <div class="col-md-offset-1 col-md-2 focus-grid">
                                    <a href="occasion/category/mobiles">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-mobile-phone"></i></div>
                                                            <h4 class="clrchg">Mobiles</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/electromenagers">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-plug"></i></div>
                                                            <h4 class="clrchg"> Électroménagers</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/cuisine">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-cutlery"></i></div>
                                                            <h4 class="clrchg">Cuisine</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>	
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/loisirs">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-book"></i></div>
                                                            <h4 class="clrchg">Livres, Sports & Loisirs</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>	
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/vetements">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                                                            <h4 class="clrchg">Vêtements </h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>		
                           
                            <div class="col-md-offset-1 col-md-2 focus-grid">
                                    <a href="occasion/category/jadin">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-wrench"></i></div>
                                                            <h4 class="clrchg">Jardinage & Bricolage</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/autres">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-lightbulb-o"></i></div>
                                                            <h4 class="clrchg">Autres</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/meubles">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-bed"></i></div>
                                                            <h4 class="clrchg"> Meubles </h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/beaute">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-clock-o"></i></div>
                                                            <h4 class="clrchg">Accessoires & Beauté</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/bebe">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                        <div class="focus-image"><i class="fa fa-child"></i></div>
                                                            <h4 class="clrchg">Bébé & Puériculture </h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>                            
                            <div class="clearfix"></div>
                    </div>
            </div>
        
    </div>    
        <!-- -->
    <div class="trending-ads">
            <div class="container">
                    <!-- slider -->
                    <div class="trend-ads">
                            <h2>LES OFFRES À LA UNE</h2>
                                    <ul id="flexiselDemo3">
                                            <li> 
                                                {% for ad in list_ad %}
                                                    <div class="col-md-3 biseller-column">
                                                        
                                                            <a href="{{ path('bo_occasion_show', {id: ad.id} )}}">
                                                                {%if  ad.advertimage %}
                                                                        <img src="{{ asset('uploads/images/' ~ ad.advertimage) }}"/>
                                                                {%endif%}
                                                                    <span class="price">{{ ad.price }} DT</span>
                                                            </a> 
                                                            <div class="ad-info">
                                                                    <h5>{{ ad.title }}</h5>
                                                                    <span>{%if "now"|date('d/m/Y')  == ad.datecreate|date('d/m/Y') %}Aujourdhui, {{ ad.datecreate|date("H:i") }}
                                                                    {%else%} {{ ad.datecreate|date("d/m/Y  H:i") }} {% endif %}</span>
                                                            </div>
                                                    </div>
                                                {% endfor %}
                                            </li>   
                                    </ul>
                            <script type="text/javascript">
                                 $(window).load(function() {
                                        $("#flexiselDemo3").flexisel({
                                                visibleItems:1,
                                                animationSpeed: 1000,
                                                autoPlay: true,
                                                autoPlaySpeed: 5000,    		
                                                pauseOnHover: true,
                                                enableResponsiveBreakpoints: true,
                                                responsiveBreakpoints: { 
                                                        portrait: { 
                                                                changePoint:480,
                                                                visibleItems:1
                                                        }, 
                                                        landscape: { 
                                                                changePoint:640,
                                                                visibleItems:1
                                                        },
                                                        tablet: { 
                                                                changePoint:768,
                                                                visibleItems:1
                                                        }
                                                }
                                        });

                                });
                           </script>
                    </div>   
            </div>
            <!-- //slider -->				
    </div>


{% endblock %}

