<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
    {% block title %}
        Bonne Occasion    
    {% endblock %}
    </title>
    {% block biblio %}
                {% block stylesheets %}
                        {% stylesheets filter="cssrewrite"
                        '@bootstrap_css'
                        '@fonts_glyphicons_eot'
                        '@fonts_glyphicons_svg'
                        '@fonts_glyphicons_ttf'
                        '@fonts_glyphicons_woff'
                        'css/font-awesome.css'
                        'bundles/booccasion/css/style.css'
                        output='compiled/css/app.css'
                        %}
                        <link rel="stylesheet" href="{{ asset_url }}" />
                        {% endstylesheets %}
                {% endblock %}
                <script type="text/javascript">
                    $(document).ready(function () {
                      var mySelect = $('#first-disabled2');

                      $('#special').on('click', function () {
                        mySelect.find('option:selected').prop('disabled', true);
                        mySelect.selectpicker('refresh');
                      });

                      $('#special2').on('click', function () {
                        mySelect.find('option:disabled').prop('disabled', false);
                        mySelect.selectpicker('refresh');
                      });

                      $('#basic2').selectpicker({
                        liveSearch: true,
                        maxOptions: 1
                      });
                    });
                </script>
                {% block headerlayout %}
                    <div class="header">
                        <div class="container">                                 
                            <div class="logo">
                                <a href="{{ path('bo_occasion_home') }}"><span>Bonne</span>Occasion</a>
                            </div>
                            <div class="header-right">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <span class="coord">Connecté en tant que </span>
                                    <span class="coord marge-lr">{{ app.user.username|upper }}</span>
     
                            <span  class="icon marge-lr">
                                    <nav class="nav">
                                        <ul class="nav-list">
                                          <li class="nav-list-item">
                                            <span class="fa fa-user-circle-o"></span>
                                            <ul class="nav-sublist">
                                              <li class="nav-sublist-item">
                                                    <a href="{{ path('fos_user_profile_show') }}"class="nav-sublist-link">
                                                    <i class="fa fa-sliders marge-lr" aria-hidden="true"></i>
                                                    {{ app.user.username|upper }}
                                                    </a>
                                              </li>
                                              <li class="nav-sublist-item">
                                                    <a href="
                                                       {{ path('fos_message_inbox') }}
                                                       {#{ path('fos_message_inbox', app.user.id) }#}
                                                       "class="nav-sublist-link">
                                                    <i class="fa fa-envelope marge-lr" aria-hidden="true"></i>
                                                    Mes messages</a>
                                              </li>
                                              <li class="nav-sublist-item">
                                                    <a href="{#{url('bo_occasion_mylist', {'id' : 49})}#}
                                                    {{ url('bo_occasion_mylist', {"id" : app.user.id}) }}" class="nav-sublist-link">
                                                    <i class="fa fa-newspaper-o marge-lr" aria-hidden="true"></i>
                                                    Mes annonces</a>
                                              </li>
                                            </ul>
                                          </li>
                                        </ul>
                                      </nav>  
                            </span>                                
                                    <a class="account" href=" {{ path('logout') }}">Déconnexion</a>
                                     {% else %}
                                        {% if not((app.request.attributes.get('_route')=='fos_user_security_login') or (app.request.attributes.get('_route')=='fos_user_registration_register')) %}
                                            <a class="account" href=" {{ path('fos_user_security_login') }}">Connexion</a>
                                            <a class="account marge-lr" href="{{ path('fos_user_registration_register') }}">Créer un Compte</a>
                                        {% endif %}
                                {% endif %}
                                   
                            </div>
                        </div>
                    </div>    
                {% endblock %}
                {% block header %}

                {% endblock %}
                {% block javascript %}
                        {% javascripts filter='?jsqueeze'
                            'bundles/booccasion/js/*.js' %}
                            <script type="text/javascript" src="{{ asset_url }}"></script>
                        {% endjavascripts %}
                {% endblock %}    
            
    {% endblock %}    

</head>
<body>
    <div class="page">
    <div class="site-header">    
        {% block body %}    

        {% endblock %}
    </div>
    <div class="site-content"></div>
    <div class="site-footer">
        {% block footer %}    

        {% endblock %}
        <div class="footer-bottom text-center ">
            {% block icon %}    

            {% endblock %}
            <div class="container">
                <div class="copyrights">
                    <p>© 2016 BonneOccasion. @yas | W3layouts
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>    
    </div> 
    </div>
</body>
</html>